body{
	margin:0;
	padding:0;
   background-color: #000;
	 font-family: 'Work Sans', sans-serif;
	 font-weight: 700;
	 font-size: 50px

}

.outer{
  text-align: center;
}

.page{
		position:relative;
		margin-top:0px;
		background-color: white;
	  max-width:1000px;
	  width:100%;
	  height:100%;
	  display: inline-block;
	  opacity: .6;
	  text-align: center;
}

.navbar{
	position:sticky;
	position:-webkit-sticky;/*Safari*/
	top:0;
	width:100%;
	height:75px;
	z-index:100;
	opacity:.8;
	text-align:left;
	background-color: white;
}

.logo{
	max-width: 100px;
	max-height: 100px
}

.tile{
  background-repeat: no-repeat;
  background-size:cover;
  height: 500px;
	text-align: center;
}

.tilebg1{
  background-image: url("img/basketball.jpg");

}

.tilebg2{
  background-image: url("img/boxing.jpg");

}

.tilebg3{
  background-image: url("img/soccer.jpg");

}

.tilebg4{
  background-image: url("img/swimming.jpg");

}

.tilebg5{
  background-image: url("img/tennis.jpg");

}

.tilebg6{
  background-image: url("img/track.jpg");

}
