body{
  background-color: white;

}

.page{

  max-width: 1200px;
  width: 100%;
  display: inline-block;
}


}
.side_bar{
  overflow: hidden;
  margin-bottom:20px;
  text-align: center;
  font-size:30px;
  font-weight: bold;
  padding: 20px;


}

.side_bar .section{
   color: black;
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
 }

.side_bar img{
  cursor: pointer;
  float: center;
  max-width: 300px;

}

.side_bar img:hover{
  animation-fill-mode: backwards;
  animation-name: changescale;
  animation-duration: 1.5s;
  }

  @keyframes changescale{
  from {transform: scale(1,1)}
  to {transform: scale(1.5,1.5)}
  }
}
