
body{
  margin:0;
  padding:0;
  background-color: white;

}
.outer{
   text-align: center;
   padding:20px;
}
.page{
   width:1000px;
   background-color: white;
   text-align: center;
   font-family: 'Poppins', sans-serif;
}
a{
  color:black;
  font-size:16px;
  font-weight: bold;
  text-decoration: none;
  margin-right:60px;
}

a:hover {
  color:green;
 }
  a:active {
  color:darkgray;
}
.nav{
   font-family: 'Poppins', sans-serif;
   margin-left:10px;
   margin-top:10px;
   text-align: center;

}
.navhere{
  color:Olive; 
}
  .header{
    font-family: serif;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
  }

  .img{
  	text-align: left;
  	float: none;
  	width: 80%;
}
