
body{
  margin:0px;
  padding:0px;
  background-color: white;

}
.outer{
   text-align: left;
   padding:20px;
}
.page{
   width:1000px;
   background-color: white;
   text-align: left;
   display: inline-block;
   font-family: 'Poppins', sans-serif;
   margin-left:50px;
   margin-top:50px;
}
a{
  color:black;
  font-size:16px;
  font-weight: bold;
  text-decoration: none;
  margin-right:60px;
}

a:hover {
  color:green;
 }
  a:active {
  color:darkgray;
}
.nav{
   font-family: 'Poppins', sans-serif;
   margin-left:30px;
   margin-top:30px;
   text-align: right;

}
.navhere{
  color:Olive;
}
  .header{
    font-family: serif;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
  }

  .img{
  	text-align: left;
  	float: none;
  	width: 90%;
}

.authorname{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
}
